AppleTvLiar/Service References/ContentManager/ContentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVsServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVsServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfStatusItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentStatus" nillable="true" type="tns:ContentStatus" />
  <xs:complexType name="ArrayOfStatusItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusItem" nillable="true" type="tns:StatusItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusItem" nillable="true" type="tns:ArrayOfStatusItem" />
  <xs:complexType name="StatusItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="fromTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tillTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusItem" nillable="true" type="tns:StatusItem" />
</xs:schema>