AppleTvLiar/Service References/ContentManager/ContentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DateRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MinDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateRange" nillable="true" type="tns:DateRange" />
</xs:schema>