AppleTvLiar/Service References/MediaManager/MediaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVS.Content.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVS.Content.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ivsmedia.iptv-distribution.net/MediaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/IVS.Common" />
  <xs:complexType name="ProtoItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IVS.Common" minOccurs="0" name="contentType" type="q1:ContentType" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IVS.Common" minOccurs="0" name="misc" nillable="true" type="q2:ArrayOfKeyValue">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProtoItem" nillable="true" type="tns:ProtoItem" />
  <xs:complexType name="ProtoItemPos">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ProtoItem" />
      <xs:element minOccurs="0" name="pos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProtoItemPos" nillable="true" type="tns:ProtoItemPos" />
</xs:schema>