AppleTvLiar/Service References/MediaManager/MediaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVS.Content.Media" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVS.Content.Media" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ivsmedia.iptv-distribution.net/MediaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IVS.Content.Data" />
  <xs:import schemaLocation="http://ivsmedia.iptv-distribution.net/MediaService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/IVS.Common.Server" />
  <xs:import schemaLocation="http://ivsmedia.iptv-distribution.net/MediaService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MediaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientSidePlaylist" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IVS.Content.Data" minOccurs="0" name="item" nillable="true" type="q1:ProtoItem" />
      <xs:element minOccurs="0" name="mediaFormat" nillable="true" type="tns:MediaFormat" />
      <xs:element minOccurs="0" name="startOffset" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IVS.Common.Server" minOccurs="0" name="streamSettings" nillable="true" type="q2:StreamSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaRequest" nillable="true" type="tns:MediaRequest" />
  <xs:complexType name="MediaFormat">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="applications" nillable="true" type="q3:ArrayOfint" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bitrateSet" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaFormat" nillable="true" type="tns:MediaFormat" />
  <xs:complexType name="ArrayOfMediaFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaFormat" nillable="true" type="tns:MediaFormat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaFormat" nillable="true" type="tns:ArrayOfMediaFormat" />
  <xs:complexType name="ArrayOfMediaLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaLanguage" nillable="true" type="tns:MediaLanguage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaLanguage" nillable="true" type="tns:ArrayOfMediaLanguage" />
  <xs:complexType name="MediaLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="iso_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaLanguage" nillable="true" type="tns:MediaLanguage" />
</xs:schema>