AppleTvLiar/Service References/MediaManager/MediaService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVS.Content.Media.Stream" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVS.Content.Media.Stream" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MediaStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="DAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaFormatID" type="xs:int" />
      <xs:element minOccurs="0" name="Playlist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaStream" nillable="true" type="tns:MediaStream" />
</xs:schema>