AppleTvLiar/Service References/ClientManager/ClientService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVS.Content.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVS.Content.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ivsmedia.iptv-distribution.net/ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IVS.Media.Client" />
  <xs:import schemaLocation="http://ivsmedia.iptv-distribution.net/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IVS.Common" />
  <xs:complexType name="ClientAppSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="appSettings" nillable="true" type="tns:AppSettings" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IVS.Media.Client" minOccurs="0" name="clientCredentials" nillable="true" type="q1:AccessCredentials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientAppSettings" nillable="true" type="tns:ClientAppSettings" />
  <xs:complexType name="AppSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IVS.Common" minOccurs="0" name="settings" nillable="true" type="q2:ArrayOfKeyValue" />
      <xs:element minOccurs="0" name="siteID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppSettings" nillable="true" type="tns:AppSettings" />
</xs:schema>