AppleTvLiar/Service References/ClientManager/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IVS.Common.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IVS.Common.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StreamSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="balancingArea" nillable="true" type="tns:BalancingArea" />
      <xs:element minOccurs="0" name="cdn" nillable="true" type="tns:DeliveryNetwork" />
      <xs:element minOccurs="0" name="qualityPreset" type="tns:StreamQualityPreset" />
      <xs:element minOccurs="0" name="shiftTimeZoneName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreamSettings" nillable="true" type="tns:StreamSettings" />
  <xs:complexType name="BalancingArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalancingArea" nillable="true" type="tns:BalancingArea" />
  <xs:complexType name="DeliveryNetwork">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNetwork" nillable="true" type="tns:DeliveryNetwork" />
  <xs:simpleType name="StreamQualityPreset">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VQ" />
      <xs:enumeration value="SQ" />
      <xs:enumeration value="HQ" />
      <xs:enumeration value="GQ" />
      <xs:enumeration value="EQ" />
      <xs:enumeration value="BQ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StreamQualityPreset" nillable="true" type="tns:StreamQualityPreset" />
</xs:schema>